<div class="logo"><img src="imgs/s-logo.svg"/></div>
<div class="nav-panel">
    <div>Игровое поле</div>
    <div class="active">Рейтинг</div>
    <div>Активные игроки</div>
    <div>История игр</div>
    <div>Список игроков</div>
</div>
<button class="exitBtn"><img src="imgs/signout-icon.svg"/></button>
