:root {
    --gray: #373745;
    --light-gray: #898993;
    --green: #60C2AA;
    --red: #E38BAC;
    --white: #ffffff;
    --bg-color: rgba(246, 246, 246, 1);
}

body {

    margin: 0;
    padding: 0;

    background: var(--bg-color);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0;
    top: 0;

    /* Gray / White */

    background: var(--white);
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exitBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    margin-right: 40px;
    gap: 10px;

    width: 32px;
    height: 32px;

    border-radius: 1000px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.logo {
    margin-left: 40px;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-panel {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;
    margin-left: 40px;

    height: 16px;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    /* Body / 16px medium */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: var(--gray);
}



.nav-panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: var(--green);
    border-radius: 200px;
    color: white;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-container {
    width: 100%;
    margin-top: 64px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.subject-list {
    /* Auto layout */

    
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin-left: 40px;
    margin-right: 176px;
    gap: 24px;


    /* Gray / White */

    background: var(--white);
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

.subject-list h1 {
    /* Headers / H1 – bold */

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    /* Gray / 700 */

    color: var(--gray);
    margin: 0;
}

.subject-list > .container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.subject-list .subject-name {
    /* Headers / H2 – regular */
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;

    /* Gray / 700 */

    color: var(--gray);
}

.subject-list .subject-percent {
    /* Body / 14px regular */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.25px;

    /* Gray / 400 */

    color: var(--light-gray);
}

.subject-list .subject-icon {
    width: 24px;
    height: 24px;
}

.subject-list .subject-info {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.game-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.game-time {
    width: fit-content;
    padding: 24px;

    background: #EDEDED;
    border-radius: 12px;

    /* Headers / Jumbo – black */
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.25px;

    /* Gray / 700 */

    color: var(--gray);
}

.game-board {
    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

.game-board .cell {
    width: 218.33px;
    height: 218.33px;

    /* Gray / White */

    background: var(--white);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #EDEDED;
    border-color: #0e0e10;
}

.cell.x {
    background-image: url(imgs/xxl-x.svg);
    background-size: cover;
}
.cell.zero {
    background-image: url(imgs/xxl-zero.svg);
    background-size: cover;
}

.cell.xWin {
    background-color: #CFEDE6;
}
.cell.oWin {
    background-color: #F3BBD0;
}

.game-step {
    width: 400px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Gray / 700

    Text
    */
    background: var(--gray);
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;

    /* Gray / White */

    color: var(--white);
}

.nameTurn {


    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.imgTurn.zero {
    margin-left: 12px;
    margin-right: 12px;

    width: 30px;
    height: 30px;
    background-image: url('imgs/zero.svg');
    background-size: cover;
}
.imgTurn.x {
    margin-left: 12px;
    margin-right: 12px;

    width: 30px;
    height: 30px;
    background-image: url('imgs/x.svg');
    background-size: cover;
}

.chat-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0px;
    margin-bottom: 88px;
    margin-right: 40px;
    margin-left: 176px;
    gap: 20px;


    /* Body / 16px regular */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: var(--gray);
}

.msgs-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.msg-container {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    max-width: 352px;

    /* Gray / White */

    background: var(--white);
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: -webkit-fill-available;
}

.subject-name {
    /* Body / 14px medium */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: var(--green);
}
.subject-name.zero {
    color: var(--red);
}

.msg-header .time {
    /* Body / 14px regular */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.25px;

    /* Gray / 400 */

    color: var(--light-gray);
}

.msg-interactive-elements {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: -webkit-fill-available;
}

.msg-interactive-elements button {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    width: 48px;
    height: 48px;

    background: var(--green);
    border-radius: 12px;
}

.msg-interactive-elements textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    /* Textfield */


    box-sizing: border-box;

    /* Auto layout */

    padding: 12px 20px;
    gap: 8px;

    /* Gray / White */

    background: var(--white);
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;


    /* Body / 16px regular */
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    color: var(--gray);
}

/* modal */

.endModal {
    display: none;

    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.endModal_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    font-weight: 500;

    width: 400px;
    gap: 20px;

    background: #FFFFFF;


    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trophyImg {
    margin-top: 40px;
}

.winnerName {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.btn-menu {    
    
    width: 352px;
    height: 48px;

    background: #60C2AA;
    border-radius: 12px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: #FFFFFF;
    
}

.btn-menu.exit {
    color: #373745;
    background: #F7F7F7;
    margin-bottom: 40px;
    font-weight: 700;
}

.btn-menu:hover {
    background: #3BA189;
}
.btn-menu.exit:hover {
    background: #DCDCDF;
}

/* Rating page */

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 0;
}

table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

}

li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 16px;

    width: 962px;
    height: 48px;

/* Gray / White */

    background: #FFFFFF;

    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.main-container.rating {
    display: flex;
    justify-content: center;
    align-items: center;


}

.rating-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    
    /* Gray / White */
    
    background: #FFFFFF;
    /* Elevation / Lv2 */
    
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.rating-container .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;

    width: 962px;
    height: 48px;

/* Gray / White */

    background: #FFFFFF;
/* Border / Bottom */

    box-shadow: inset 0px -1px 0px #EEEFF5;
}



.first {
    font-weight: 500;
}

.fio {
    width: 440px;
}

.total {
    width: 108px;
}

.Winrate {
    width: 134px;
}

.wins {
    color:var(--green);
    width: 108px;
}

.loses {
    color: #E93E3E;
    width: 108px;
}

