
:root {
    --gray: #373745;
    --light-gray: #454545; 
}

.body {
    display: flex;
    background: #E5E5E5;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: #FFFFFF;
}

.dog {
    width: 132px;
    height: 132px;
    margin-top: 40px;


    background: url(casual-life-3d-blue-scared-ghost1.png);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.enter {
    position:static;

    width: 352px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 12px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    color: var(--gray);
}


.auth {
    box-sizing: border-box;

    padding: 12px 20px;
    width: 352px;
    height: 48px;
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}



.auth:hover {
    border: 1px solid var(--light-gray);   
}

.auth::placeholder {
    color: #B1B1B7;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.auth:focus::placeholder {
    color: transparent;
}

.btn-login {    

    width: 352px;
    height: 48px;
    margin-top: 18px;
    margin-bottom: 18px;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: #FFFFFF;
    
}

.btn-login:hover {
    background: #60C2AA;
}

.btn-login:active {
    background: #34685b;
}

.auth-cont {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    margin: 6px 20px;
}

.incorrect {
    border: 1px solid #E93E3E;
}


.redText {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    font-size: 12px;

    letter-spacing: 0.25px;
    color: #E93E3E;
}