<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="auth_style.css"> <!-- Пока так -->
</head>
<body class="body">
    <form class="container" method="post" action="#"> <!-- Пока так -->
        <img class="dog" src="dog.svg">
        <div class="enter">Войдите в игру</div>
        <div class="auth-cont">
            <input type="text" name="login" placeholder="Логин" class="auth log" id="auth_log" onselectstart="return false" 
            onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off/>
            <div class="redText">
                <% if(incorrect) {%>                    
                Неверный логин                    
                <% }%>                                     
            </div>
        </div>
        <div class="auth-cont">
            <input type="password" name="pass" placeholder="Пароль" class="auth pass" id="auth_pass">
            <div class="redText">
                <% if(incorrect) {%>                    
                Неверный пароль                  
                <% }%>
            </div>
        </div>
        <button class="btn-login" type="submit">Войти</button>
    </form>

    <script>
        let btn = document.querySelector('.btn-login');
        btn.onclick = function() {     
            // <!-- можно проверить наличие ответа на неверный логин\пароль -->
            //incorrect();
            submitBtn();
        }

        const submitBtn = () => {
            var login = document.getElementById('auth_log').value;
            var pass = document.getElementById('auth_pass').value;
            console.log("Логин: " + login);
            console.log("Пароль: " + pass);
        };

        const incorrect = () => {
            let redText = document.querySelectorAll(".redText");
            let input = document.querySelectorAll(".auth");
            redText.forEach((element) => {
                element.classList.add('active')
            });
            input.forEach((element) => {
                element.classList.add('incorrect')
            });
        }

        function updateValue() {
            let inputValue = this.value.replace(/[^A-Za-z0-9._]/, '');
            this.value = inputValue;
        }

        const authLog = document.getElementById('auth_log');
        authLog.addEventListener("input", updateValue);
        document.getElementById('auth_pass').addEventListener("input", updateValue);




    </script>

</body>
</html>