<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="style.css"> <!-- Пока так -->
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
<div class="main-container rating">
    <div class="rating-container">
        <h1>Рейтинг игроков</h1>
        <table>
            <tr class="cell">
                <td class="fio first">ФИО</td>
                <td class="total first">Всего игр</td>
                <td class="total first">Победы</td>
                <td class="total first">Проигрыши</td>
                <td class="Winrate first">Процент побед</td>
            </tr>
            <% ratings.forEach(function(rating) { %>
            <tr class="cell">
                <td class="fio"><%= rating.FIO %></td>
                <td class="total"><%= rating.totalGames %></td>
                <td class="wins"><%= rating.wins %></td>
                <td class="loses"><%= rating.loses %></td>
                <td class="winrate"><%= rating.winrate %></td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>

</body>
</html>